# VADSLL 的配置文件 (zh_CN)

# 网络接口 (网卡)
interface = "enp0s3"
# 登陆 帐号/密码
account = "<帐号>"
password = "<密码>"


# !!! 高级配置 (请勿修改 !!!)
auth_server = "<认证服务器 IP 地址>:1812"
ethernet_mtu = 1500
vadsl_mtu = 1476
keep_alive_timeout_s = 300

nfqueue_id = 44001
nft_table = "vadsll"
nft_hook_priority = 150

# end config.toml
