{
  "interface": "enp0s3",
  "account": "<your-account>",
  "password": "<your-password>",

  "auth_server": "<auth-server-IP>:1812",
  "ethernet_mtu": 1500,
  "vadsl_mtu": 1476,

  "nfqueue_id": 44001,
  "nft_table": "vadsll",
  "nft_hook_priority": 110,
  "#": "config file for VADSLL"
}
