[Unit]
Description=vadsll login service

[Service]
Environment=NODE=/usr/bin/node

Type=forking
PIDFile=/var/log/vadsll/route_filter.pid
ExecStart=/usr/bin/env $NODE /usr/local/lib/vadsll/vadsll/vadsll.js --login
ExecStop=/usr/bin/env $NODE /usr/local/lib/vadsll/vadsll/vadsll.js --logout
Restart=no
